#murdermap {
    background-color: black;
}

footer {

    background-color:rgb(24, 23, 23);
    font-weight: bold;

}

h1 {
    text-align: center;
    font-family: 'Nosifer', cursive;
    color: rgb(219, 60, 60);
}
#logo{
width: 125px;
height: 125px relative;




}

body {
    background-color: black;
    font-weight: bold;

}

#head {
    font-weight: bold;
   margin-left: 38%;
}

.card {
    background-color: black;
    
}

#address-input  {
    background-color: black;
}

.card-deck {
    margin: 10px;
}

#d {
    font-family: 'Nosifer', cursive;
    color: rgb(219, 60, 60);
    font-size: 60px;
}

h6 {
    color: rgb(219, 60, 60);
    font-family: 'Nosifer', cursive;
}

#mm, #hm {
    color: white;

}

h5 {
    color: rgb(219, 60, 60);
}